* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    background-color: #1c1c1c;
    width: 100%;
    height: 150px;
    padding-top: 20px;

    .container {
        .row {
            nav {
                #bannernav {
                    .ulban {
                        display: flex;
                        align-items: center;
                        .icontext {
                            padding-left: 30px;
                            padding-right: 0px;
                            padding-top: 10px;
                            a {
                                strong {
                                    color: #999;
                                }
                            }
                            .txt {
                                color: white;
                            }
                        }
                        .icon {
                            border-radius: 50%;
                            width: 50px;
                            height: 50px;
                            font-size: 25px;
                            justify-content: center;
                            background-color: #1c1c1c;
                            border: 1px solid #999;
                            i {
                                color: #688ff4;
                            }
                        }
                    }
                }
            }
        }
    }
}
#head {
  
    .container {
       
        justify-content: center;

        align-items: center;
        display: flex;

        .row {
            position: fixed;
            nav {
                width: 100%;
                height: auto;
                background-color: white;
                padding-right: 30px;
                padding-left: 30px;
                border: 1px solid;
                border-radius: 10px;
                .get {
                    padding-left: 90px;
                    #btget {
                        padding: 10px 30px;
                        border: none;
                        background-color: #688ff4;
                        color: white;
                    }
                }
            }
        }
    }
}

#secOne {
    background-image: url(/assets/scss/img/img05.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;

    background-color: #000000f5;
    opacity: 1;

    .container {
        .row {
            justify-content: center;
            padding-top: 100px;
            .col-lg-6 {
                .sectext {
                    .explor {
                        border: none;
                        background-color: #688ff4;
                        color: white;
                        padding: 10px 20px;
                    }
                    color: white;
                    .swan {
                        color: #688ff4;
                    }
                }
                padding-bottom: 20px;
                form {
                    border-radius: 10px;
                    padding-top: 10px;
                    width: 100%;
                    height: 350px;
                    background-color: white;

                    justify-content: center;
                    align-items: center;
                    .formdiv {
                        padding-left: 80px;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        .mb-2 {
                            input {
                                width: 70%;
                            }
                            .get {
                                padding-top: 10px;

                                .btget {
                                    padding: 10px 20px;
                                    border: none;
                                    background-color: #688ff4;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#secTwo {
    padding-top: 60px;
    padding-bottom: 50px;
    width: 100%;
   height: auto;
    .container {
        .row {
.col-lg-12{
    .abouttext{
        .abo{
            color: #688ff4;
            padding-right: 15px;
        }
    }
}

.col{
    .cr{
        .card-body{
            .number{
                color: #688ff4;
                font-weight: 700;
                
            }
            a{
                    color: #688ff4;
                }
        }
    }
}

        }
    }
}
#secTree{
   
    width: 100%;
    height: auto;
    background-image: url(/assets/scss/img/img04.jpg);
    background-position: center;
    background-size: cover;
    .container{
        
       
        .tree{
            .col{
                .card-body{
                   padding-top: 50px;
                   padding-bottom: 50px;
                    text-align: center;
                    h1{
                        font-size: 70px;
                        color: #688ff4;
                    }
                    p{
                        color: rgb(112, 112, 112);
                    }
                }
            }
        }
    }
}
#secFive{
    padding-top: 100px;
    width: 100%;
    height: auto;
    text-align: center;
justify-content: center;
padding-bottom: 20px;
.inpts{
    padding-bottom: 100px
}
  #cart{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    padding-top: 100px;
   
    .box{
        padding: 40px;
        justify-items: center;
        width: 350px;
        height: auto;
       padding-bottom: 50px;
        align-items: center;
        img{
       width: 100%;
       height: auto;
    }
    p{
width: 100%;
height: 120px;
    }
    }
    
  }
}
footer{
    background-color: #1c1c1c;
    width: 100%;
    height: 100px;
    
    p{
        color: #999;
        padding: 40px;
        padding-bottom: 30px;
        
    }
}